* {
  text-align: center;
}

#cat-container > canvas {
  max-height: 85vh;
  border-radius: 15px;
}

#cat-container.grid > canvas {
  border-radius: 0;
}

#another {
  font-size: 18pt;
  margin-top: 0.5em;
  padding: 0.5em;
}
